# MONGO_URI = "mongodb://127.0.0.1:27017/f8-k10"
# POST= "8888"
# SECRET_KEY= "bananhhoang"


PORT=8888
DB_URI=mongodb://localhost:27017/f8-k10
# DB_URI=mongodb+srv://hoangnm:SB0T8GbpriqgffRy@cluster0.sdey1.mongodb.net/phonoinho-db
JWT_SECRET="banAnhHoang"
JWT_EXPIRES_IN="30d"
CATEGORY_ID_DEFAULT="67836a60a83094583683c85e"